.content-section {
    padding: 80px 0 0 0;

    h2 {
        color: $brown;
        text-align: center;
        margin-bottom: 60px;
    }

    .csr {
        margin-bottom: 60px;

        &:last-child { margin-bottom: 0; }

        p { font-size: 18px; }

        .csrc { 
            display: flex; align-items: center; 

            .inner { padding: 0 30px; }

            .csr-btn {
                font-weight: 900;
                text-decoration: none;
                text-transform: uppercase;

                &:hover { text-decoration: underline; }
            }
        }
        .csri img { width: 100%; height: auto; }

        &.grey { background: $offwhite; padding: 50px 0; }
    }
}